<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div id="wrap">
    <nav>
      <a href="/" id="nav-title">URL Shortener</a>
      <ul id="nav-list">
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <main>
      <h1 class="page-title">URL Shortener</h1>
      <p>A simple URL shortener using Nodejs, Express, and MongoDB</p>

      <form action="/api/shortener" method="POST">
        <input type="text" id="url" name="url" placeholder="Enter a link" required>
        <button type="submit">Shorten!</button>
      </form>
    </main>
  </div>
  <footer>
    <p>&copy; 2020 Kaveh Jamshidi. All Rights Reserved.</p>
  </footer>
</body>

</html>